<ion-header>
  <ion-navbar>
    <ion-title>
      Request Water
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button (click)="homeData()">Home</button>
  <button ion-button (click)="industryData()">Industry</button>
</ion-content>
