<ion-header>

  <ion-navbar>
    <ion-title>Home Data</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-item>
    <ion-label>Members</ion-label>
    <ion-select [(ngModel)]="members">
      <ion-option value="1">1</ion-option>
      <ion-option value="2">2</ion-option>
      <ion-option value="3">3</ion-option>
      <ion-option value="4">4</ion-option>
      <ion-option value="5">5</ion-option>
      <ion-option value="6">6</ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label floating>Name</ion-label>
    <ion-input [(ngModel)]="name" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Area</ion-label>
    <ion-input [(ngModel)]="area" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Purpose</ion-label>
    <ion-input [(ngModel)]="purpose" type="text"></ion-input>
  </ion-item>

  <button ion-button (click)="submit()">Submit</button>

</ion-content>