<ion-header>

  <ion-navbar>
    <ion-title>Industry Data</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-item>
    <ion-label>Liters</ion-label>
    <ion-select [(ngModel)]="imembers">
      <ion-option value="1000">1000 L</ion-option>
      <ion-option value="2000">2000 L</ion-option>
      <ion-option value="3000">3000 L</ion-option>
      <ion-option value="4000">4000 L</ion-option>
      <ion-option value="5000">5000 L</ion-option>
      <ion-option value="6000">6000 L</ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label floating>Industry Name</ion-label>
    <ion-input [(ngModel)]="iname" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Industry Type</ion-label>
    <ion-input [(ngModel)]="itype" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Purpose</ion-label>
    <ion-input [(ngModel)]="ipurpose" type="text"></ion-input>
  </ion-item>

  <button ion-button (click)="submit()">Submit</button>

</ion-content>
